{% extends "base.html" %}

{% block title  %}password  reset {%endblock%}

{% block content%}
	<div class="row text-center vertical-middle-sm">
		<h1>忘记密码？请重置. </h1>
		<p>请输入你重置密码的邮箱 </p>
		<form class="form-horizontal" action="." method="post">{% csrf_token %}
			<div class="form-group">
				<label class="col-md-5 control-label text-right">你的邮箱地址</label>	
				<div class="col-md-6 text-left">{{form.email}}</div>
			</div>
			<input type="submit" value="Send email" class="btn btn-primary btn-lg">
		</form>
		
	</div>
{% endblock%}
