<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>monitor</title>

    <link rel="icon" href="" type="">
    <link rel="stylesheet" href="../../css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/index.css">

</head>
<body>
    
<div class="sys-head">
<!-- head start-->
    <img  class="sys-logo" src="../../img/monitor-logo.png" alt="fish">

    <div class="head-right">
        <!-- head right head start-->

        <div class="user-info">
            <!-- user-info start -->
            <img src="../../img/monitor-user.svg" alt="">
            <span>wolfrg</span>

            <!-- user-info end -->
        </div>
        <span class="exit">退出登录</span>

        <!-- head right end -->
    </div>

<!-- head end-->
</div>

<!-- body -->
<div>

    <div>
        <!-- 左侧菜单 -->
        <div class="col-sm-3 col-md-3 col-xs-3">

        </div>

        <!-- 右侧主菜单 -->
        <div class="col-sm-9 col-md-9 col-xs-9">

            <div class="main-menu">
                <ul class="nav nav-pills">
                    <li class="active"><a href="javascript:void(0)">域名管理</a></li>
                    <li><a href="../../mHost/tempalte/host.html">服务器信息</a></li>
                    <li><a href="../../mTree/template/tree.html">节点管理</a></li>
                    <li><a href="../../mDeploy/template/deploy.html">部署系统</a></li>
                </ul>
            </div>
            <!-- 右侧子菜单 -->
            <div class="content-main">
                    <ul class="nav nav-tabs">
                        <li role="" class="active" data-sub="1"><a href="#">记录管理</a></li>
                        <li role="" data-sub="2" ><a href="#">预案管理</a></li>
                        <li role="" data-sub="3" ><a href="#">操作日志</a></li>
                        <li role="" data-sub="4" ><a href="#">DNSPod日志</a></li>
                    </ul>
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">DNS记录</div>

                        <!-- Table -->
                        <table class="table" id="bodyList">
                        </table>
                    </div>
                    <!--分页-->
                    <nav aria-label="" style="text-align: right;">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>


           
            
        </div>
    </div>        

</div>

</body>
</html>
<script src="../../js/lib/jquery.min.js"></script>
<script src="../../js/lib/bootstrap.min.js"></script>
<script src="../../js/index.js"></script>