<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>monitor</title>
    <link rel="icon" href="/static/img/monitor-logo.png" type="image/x-icon"/>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome-ie7.min.css"/>
    <link rel="stylesheet" href="/static/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/dist/zTreeStyle.css">
    <link rel="stylesheet" href="/static/css/dist/font-awesome-zTree.css">

    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="static/css/hosts.css">

    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/lib/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="/static/js/lib/jquery.ztree.exedit.js"></script>

</head>
<body>
<!--页面头部-->
<div class="guide-head">
    <img class="sys-logo" src="/static/img/monitor-logo.png" alt="">
    <div class="right-header">
        <div class="user-info">
            <img class="user-img" src="/static/img/monitor-user.svg" alt="">
            <span class="user-name">王雪君</span>
        </div>
        <div class="exit-btn">退出登录</div>
    </div>

</div>
<!--主体内容部分-->
<div class="container-fluid">
    <div class="row">
        <!--左侧导航，（新增）-->
        <div class="col-md-3 js-left-part">
            <!--导航插件的样式-->
            <div class="navMenubox">
                <div id="slimtest1">
                    <div class="navMenu-top">
                        <div id="mini" style=""><i class="fa fa-bars fa-2x"></i></div>
                    </div>
                    <ul class="navMenu">
                        <!--每一个主菜单和子菜单列表-->
                        <li> <a href="javascript:;" class="afinve"> <i class="icon-folder-close-alt"></i> <span class="">主机管理</span> <span class="arrow"></span> </a>
                            <ul class="sub-menu">
                                <li><a href="javascript:;"><span>下线</span></a></li>
                                <li><a href="javascript:;"><span>维修</span></a></li>
                            </ul>
                        </li>
                        <li > <a href="javascript:;" class="afinve"> <i class="icon-folder-close-alt"></i> <span class="nav-text">机房管理</span> <span class="arrow"></span> </a>
                            <ul class="sub-menu">
                                <li><a href="javascript:;" ><span>子菜单1</span></a></li>
                                <li><a href="javascript:;"><span>子菜单2</span></a></li>
                                <li><a href="javascript:;"><span>子菜单3</span></a></li>
                                <li><a href="javascript:;"><span>子菜单4</span></a></li>
                            </ul>
                        </li>
                        <li > <a href="javascript:;" class="afinve"> <i class="icon-folder-close-alt"></i> <span class="nav-text">网络管理</span> <span class="arrow"></span> </a>
                            <ul class="sub-menu">
                                <li><a href="javascript:;"  class="afinve"><span>子菜单1</span></a></li>
                                <li><a href="javascript:;"><span>子菜单2</span></a></li>
                                <li><a href="javascript:;"><span>子菜单3</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--右侧表格内容部分-->
        <div class="col-md-9 js-right-part">
            <div class="center-main">
                <!--一级菜单-->
                <div class="head-tab">
                    <ul class="nav nav-pills js-main-tabs">
                        <li role="presentation" id="domain" data-menu="1"><a href="/domains/index">域名管理</a></li>
                        <li role="presentation" id="machine"  class="active" data-menu="2"><a href="/hosts/index">机器信息</a></li>
                        <li role="presentation" id="nodemsg" data-menu="3"><a href="/tree/index">节点信息</a></li>
                        <li role="presentation" id="deploy" data-menu="4"><a href="/deploy/index">部署系统</a></li>
                    </ul>

                </div>
                <!--二级菜单-->
                <div class="content-main">
                    <ul class="nav nav-tabs machineNav js-sub-tabs">
                        <li role="presentation" class="active" data-sub="4"><a href="#">物理机</a></li>
                        <li role="presentation" data-sub="5" ><a href="#">虚拟机</a></li>
                        <li role="presentation" data-sub="6" ><a href="#">网络设备</a></li>
                    </ul>
                    <!--表格面板-->
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading"><button class="btn btn-success btn-sm" data-target="#exampleModal" data-toggle="modal">添加主机</button><button class="btn btn-success btn-sm" data-target="#exampleModal" data-toggle="modal">主机绑定</button></div>

                        <!-- Table -->
                        <table class="table" id="bodyList">
                        </table>
                    </div>
                    <!--分页-->
                    <nav aria-label="Page navigation" style="text-align: right;">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!--统一多种模态框-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">添加主机</h4>

            </div>
            <div class="modal-body">
                <form>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                <button type="button" id="confirmBtn" class="btn btn-primary">ok</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script src="/static/js/lib/utils.js"></script>
<script src="static/js/hosts.js"></script>
